torch==1.13.0+cu117
torchvision==0.14.0+cu117
tensorrt==10.5.0
tensorrt-cu12==10.5.0
tensorrt-cu12-bindings==10.5.0
tensorrt-cu12-libs==10.5.0
torchtext==0.14.0

# TODO: Update with exact module version
numpy
opencv_python
loguru
tqdm
thop
ninja
tabulate
psutil
tensorboard
terminado
dill
spacy

# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools>=2.0.2
onnx>=1.13.0
onnx-simplifier==0.4.10
paho-mqtt
APScheduler
pytz
redis
hiredis

#yolov8
ultralytics
fastapi
uvicorn
flask
shapely
msgpack
msgpack-numpy
msgpack-python
numba
ujson
torchtext
